*.o
*.a
*.so
*.html
\.clang-completion-error
CMakeFiles
moc_*
ui_*
qrc_*
*_flymake.hpp
*.
Makefile
CMakeCache.txt
cmake_install.cmake
*.tokens
ThunderLangParser.h
ThunderLangParser.c
ThunderLangLexer.h
ThunderLangLexer.c
/BenchmarkApp/src/Cones_1024x512_CPU Matcher.png
/BenchmarkApp/src/Cones_1024x512_CPU+OpenCV_BlockMatcher.png
/BenchmarkApp/src/Cones_1024x512_GPU Matcher.png
/BenchmarkApp/src/Cones_2048x1024_CPU Matcher.png
/BenchmarkApp/src/Cones_2048x1024_CPU+OpenCV_BlockMatcher.png
/BenchmarkApp/src/Cones_2048x1024_GPU Matcher.png
/BenchmarkApp/src/Cones_512x512_CPU Matcher.png
/BenchmarkApp/src/Cones_512x512_CPU+OpenCV_BlockMatcher.png
/BenchmarkApp/src/Cones_512x512_GPU Matcher.png
/BenchmarkApp/src/Teddy_1024x512_CPU Matcher.png
/BenchmarkApp/src/Teddy_1024x512_CPU+OpenCV_BlockMatcher.png
/BenchmarkApp/src/Teddy_1024x512_GPU Matcher.png
/BenchmarkApp/src/Teddy_2048x1024_CPU Matcher.png
/BenchmarkApp/src/Teddy_2048x1024_CPU+OpenCV_BlockMatcher.png
/BenchmarkApp/src/Teddy_2048x1024_GPU Matcher.png
/BenchmarkApp/src/Teddy_512x512_CPU Matcher.png
/BenchmarkApp/src/Teddy_512x512_CPU+OpenCV_BlockMatcher.png
/BenchmarkApp/src/Teddy_512x512_GPU Matcher.png
/doc/impl.juth.bak
