*.o
*.a
*.so
*.html
\.clang-completion-error
CMakeFiles
moc_*
ui_*
qrc_*
*_flymake.hpp
*.
Makefile
CMakeCache.txt
cmake_install.cmake
*.tokens
ThunderLangParser.h
ThunderLangParser.c
ThunderLangLexer.h
ThunderLangLexer.c